.sidebar{
    padding:20px 10px;
    height:100vh;
    overflow:auto;
    scrollbar-width: none;
    background-color:var(--background-color);
    color:var(--color);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    
}
.sidebar svg{
    width:30px;
    height:30px;
    color:var(--color);
    
}
.newchat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    background-color: rgb(146, 151, 155);
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
}
.newchat:hover{
    background-color: rgb(136, 139, 142);
}
#ham{
    margin-left:10px;
    cursor: pointer;
}
#ham:hover{
    background-color: rgb(136, 139, 142);
    border-radius: 10px;
    padding:3px;
}
.recent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    overflow: auto;
}
.recent:hover{
    background-color: rgb(136, 139, 142);
}
@media (max-width:600px) {
    .sidebar{
        display: none;
    }
}