* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
    display: flex;
}

.light-mode {
    --color: black;
    --background-color: white;
    --btn-background-color: black;
    --btn-color: white;
    --hover-btn-background-color: rgb(48, 46, 46);
}

.dark-mode {
    --color: white;
    --background-color: black;
    --btn-background-color: white;
    --btn-color: black;
    --hover-btn-background-color: rgb(177, 177, 177);
}
@media (max-width:600px) {
    .sidebar{
        display: none;
    }
    .sepration{
        display: none;
    }
}